vendor/
node_modules/
public/storage
public/uploads
public/css
public/js
resources/assets/sass/modules/*

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Dev files
.idea/