body .mobile-hidden {
    display: block;
}
body .desktop-hidden {
    display: none;
}

header{
    background: yellow;
    .header-part{
        align-items: center;
        display: flex;
        a{
            padding: 0 .25em;
        }
        &.desktop-hidden {
            display: none;
        }
    }
    .header-left,
    .header-right {
        padding: 0 0.5em;
    }
    .menu {
        flex-direction: row;
        .account {
            display: block;
            width: 50px;
            height: 50px;
            text-indent: -9999px;
        }
        .mickey {
            background: url('../images/mickey.png');
        }
    }
}

.poster-wrapper {
    .images-wrapper,
    .poster-img {
        max-height: calc(100vh - 80px);
    }
}
