body .mobile-hidden {
    display: block;
}
body .desktop-hidden {
    display: none;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 80rem;
}
header{
    //background: yellow; //dev purposes
    height: 4em;
    .header-part{
        align-items: center;
        display: flex;
        a{
            padding: 0 .25em;
        }
        &.desktop-hidden {
            display: none;
        }
    }
    .logo img {
        max-height: 4em;
    }
    .header-left,
    .header-right {
        padding: 0 0.5em;
    }
    .menu-content {
        .menu {
            flex-direction: row;
            text-align: center;
            a {
                padding: 0 0.5em;
                display: block;
                color: $header-links-color;
                font-size: 1em;
            }
            .account {
                width: 2em;
                height: 2em;
                margin-left: 0.5em;
                text-indent: -9000px;
                overflow: hidden;
            }
            .mickey {
                background: url('../images/mickey.png') no-repeat;
                background-size: 2em;
            }
        }
    }
}

.poster-wrapper {
    display: flex;
    flex-direction: row;

    &>div {
        flex:1;
    }
    .infos-wrapper{
        text-align: left;
        order:0;
        position: relative;
    }
    .images-wrapper{
        order:1;
        padding: .7rem;
    }
    .images-wrapper,
    .poster-img {
        max-height: 90vh;
    }
    .search-infos .main,
    .selection-name {
        display: inherit;
    }
    .selection-name
    {
        font-style: italic;
    }

    .upper-infos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: .7rem 0;
        align-items:center;
    }
    .count{
        font-size: .8rem;
    }
    .search-infos{
        padding: 3rem 0;
    }
    .search-infos .main{
        font-size: 2rem;
        font-weight: bold;
    }
    .close-solution{
        display: none;
    }
    .solution-wrapper {
        padding: 3rem 0;
        transition: ease opacity .3s;
        font-weight: 600;
        & > *
        {
          transition: ease transform .3s;
        }
    }
    .current-version {
        font-size: 2rem;
    }

    .original-version {
        font-size: 1.2rem;
    }
    .controls {
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        padding: 3rem 0;
    }

    .not-visible
    {
        opacity: 0;
        & > *
        {
          transform: translateY(50%);
        }
    }
    .hints {
        padding: .7rem 0;
    }
}

.switch-level {
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    font-style: italic;
    font-size: .8rem;
    padding: .3rem;
    cursor: pointer;
}