*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: $body-bg;
    font-family: $main-font;
    color: $text-color;
    font-size: 16px;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
    width: auto;
    border: 0;
}
a {
    outline: 0;
    text-decoration: none;
}

.hidden {
    display:none;
}
.invisible {
    pointer-events: none;
    opacity: 0;
}
.mobile-hidden {
    display: none;
}

#app {
    position: relative;
    overflow: hidden;
}


/**
 *  HEADER
 */
header{
    background: $header-color;
    padding: 0 1em;
    height: 3.5em;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .logo img {
        /** MASK IMAGE: NOT COMPATIBLE ALL BROWSERS YET
        mask-image: url('../images/logo.svg');
        **/
        max-height: 3.5em;
    }
    .language-switcher {
        padding-left: 1em;
        li {
            display: inline-block;
        }
        a {
            display: block;
            text-indent: -5000px;
            height: 1.5em;
            width: 1.5em;
            background-image: url('../images/country-flags.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .fr {
            background-position: 100% 0;
        }
        .en {
            background-position: 0 0;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        a {
            color: $header-links-color;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}



/**
 * POSTER DETAILS
 */
.poster-wrapper {
    text-align: center;
    .images-wrapper {
        overflow: hidden;
        height: 100%;
        .solution{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .images-frame{
        position: relative;
        display: inline-block;
        transition: transform .5s ease;
    }
    .poster-img{
        max-height: 100vh;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .previous[data-id=""]{
        display: none;
    }
}
