*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
}
.hidden {
    display:none;
}
img{
    max-width: 100%;
    width: auto;
    border: 0;
}

header{
    display: none;
}
.poster_wrapper {
    text-align: center;
    .poster-img{
        max-height: 100vh;
        height: 100%;
    }
}
