
// Body
$body-bg: #DDDDDD!default;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$main-font: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$lighter-font: 'Open Sans', sans-serif;

$text-color: #2B2B2B;

$header-color: #FFFFFF;
$header-links-color: #3B3B3B;
